.navbar {
  justify-content: center;
  align-items: center;
  box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 50;
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
}

.navInner {
  display: flex;
  min-height: 80px;
  width: 1280px;
  max-width: 1280px;
  align-items: stretch;
  gap: 40px 200px;
  justify-content: start;
  flex-wrap: wrap;
}

.navLeftGroup {
  display: flex;
  min-width: 240px;
  align-items: stretch;
  gap: 40px;
  font-family:
    'Noto Sans TC',
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 20px;
  color: #423c3a;
  font-weight: 700;
  white-space: nowrap;
  text-align: center;
  justify-content: start;
  flex-wrap: wrap;
  height: 100%;
  flex: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.logo {
  aspect-ratio: 0.67;
  object-fit: contain;
  object-position: center;
  width: 40px;
  margin: auto 0;
  flex-shrink: 0;
}

.navBtnGroup {
  display: flex;
  min-width: 240px;
  align-items: center;
  gap: 16px;
  justify-content: start;
  height: 100%;
  flex: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.navBtn {
  align-self: stretch;
  border-radius: 100px;
  background-color: rgba(223, 108, 45, 0);
  margin: auto 0;
  padding: 8px 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navBtn:hover {
  background-color: rgba(223, 108, 45, 0.1);
}

.navRightGroup {
  display: flex;
  min-width: 240px;
  align-items: center;
  gap: 15px;
  justify-content: end;
  flex-wrap: wrap;
  height: 100%;
  flex: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.searchBar {
  min-width: 200px;
  max-width: 300px;
  border-radius: 200px;
  background-color: #faf8f9;
  align-self: stretch;
  display: flex;
  margin: auto 0;
  width: 300px;
  flex-shrink: 1;
  height: 49px;
  padding: 12px 0;
  gap: 10px;
  flex: 1;
  flex-basis: 0%;
}

.navIcon {
  aspect-ratio: 1.07;
  object-fit: contain;
  object-position: center;
  width: 45px;
  align-self: stretch;
  margin: auto 0;
  flex-shrink: 0;
  cursor: pointer;
}

.navIconSmall {
  aspect-ratio: 0.95;
  object-fit: contain;
  object-position: center;
  width: 40px;
  align-self: stretch;
  margin: auto 0;
  flex-shrink: 0;
  cursor: pointer;
}

@media (max-width: 991px) {
  .navbar {
    max-width: 100%;
  }

  .navInner {
    max-width: 100%;
  }

  .navLeftGroup {
    max-width: 100%;
    white-space: initial;
  }

  .navBtnGroup {
    max-width: 100%;
    white-space: initial;
  }

  .navBtn {
    white-space: initial;
  }

  .navRightGroup {
    max-width: 100%;
  }
}
