@use '_variables' as *;
@use './mixins.scss' as *;

.footer {
  background-color: #423c3a;
  width: 100%;
}

.footerContent {
  max-width: 1280px;
  justify-content: space-between;
  display: flex;
  margin: auto;

  span:nth-of-type(1) {
    display: flex;
    padding: 50px 0 60px 0;
    flex-direction: column;
    h3 {
      color: #fff5ee;
    }

    div {
      margin-top: 20px;
      min-height: 190px;
      font-size: $font-size-p;
      textarea {
        border: 2px solid $color-background-error;
        border-radius: 15px;
        background-color: rgba(250, 248, 249, 0.45);
        width: 100%;
        padding: 10px 15px;
        height: 100%;
        &:focus {
          outline: none;
          border: 3px solid $color-accent;
          box-shadow: none; // 如有陰影也一併取消
        }
      }
    }
  }
  span:nth-of-type(2) {
    display: flex;
    min-width: 240px;
    padding: 45px 0;
    flex-direction: column;
    // align-items: flex-end;
    justify-content: center;

    div:nth-of-type(1) {
      button {
        background: none;
      }
      h3 {
        @include button-text;
        &:hover {
          background-color: $color-bright;
        }
      }
    }
    div:nth-of-type(2) {
      display: flex;
      margin-top: 20px;
      gap: 15px;
      button {
        @include button-icon;
      }
    }
  }
}

@media (max-width: 991px) {
  .footer {
    max-width: 100%;
    padding: 0 20px;
  }
}
